@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #161b21;
  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 56px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  border-bottom: 1px solid #ffffffcc;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #161b21;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}
.close {
  width: 28px;
  height: 28px;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  align-items: center;

  gap: 32px;
  padding: 161px 30px 0;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 700px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  background: #161b21;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease;
  color: #ffffff;
  text-transform: uppercase;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.navigation__link:hover,
.navigation__link:focus {
  border-bottom: 4px solid #37c760;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    padding-right: 200px;
  }
  .header {
    height: 68px;
    padding: 20px 40px;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;

    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 48px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation__link {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 348px 16px 40px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/hero_section\ \(1\).png");
}
.home__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-family: Anybody;
  font-size: 64px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0.015em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.home-text {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.015em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 0px 0 40px;
  color: #ffffffcc;
}
.home-button {
  width: 343px;
  height: 56px;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 8px;
  background: #37c760;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    padding: 273px 420px 40px;
    background-image: url("/image/home/hero_section.png");
  }

  .home-title {
    font-family: Anybody;
    font-size: 96px;
    font-weight: 500;
    line-height: 98px;
    letter-spacing: 0.015em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.015em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 16px 0 40px;
    color: #ffffffcc;
  }
  .home-button {
    width: 215px;
    height: 56px;
    margin: auto;
  }
}

.about {
  padding: 60px 16px 30px;
  width: 375px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-title {
  font-family: Anybody;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-title-img {
  width: 124px;
  height: 4px;
  margin-bottom: 40px;
}
.about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.about-item {
  padding: 32px 24px;
  width: 343px;
  height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/card_service.png");
  transition: background-size 2s linear;
  overflow: hidden;
}
.about-item-two {
  background-image: url("/image/about/card_service\ \(1\).png");
}
.about-item-three {
  background-image: url("/image/about/card_service\ \(2\).png");
}
.about-item-four {
  background-image: url("/image/about/card_service\ \(3\).png");
}
.about-item-five {
  background-image: url("/image/about/card_service\ \(4\).png");
}
.about-item-six {
  background-image: url("/image/about/card_service\ \(5\).png");
}
.about-item:hover {
  background-size: 110%;
}

.about-item-title {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 64px 0 16px;
}
.about-item-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  list-style-type: disc;
  padding: 0 0 0 25px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 120px 108px 60px;
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .about-title {
    font-family: Anybody;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-title-img {
    width: 124px;
    height: 4px;
    margin-bottom: 80px;
  }
  .about-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    flex-wrap: wrap;
  }

  .about-item {
    width: 392px;
    height: 421px;
    padding: 48px 40px 48px 40px;
    background-image: url("/image/about/card_service.png");
  }
  .about-item-two {
    background-image: url("/image/about/card_service\ \(1\).png");
  }
  .about-item-three {
    background-image: url("/image/about/card_service\ \(2\).png");
  }
  .about-item-four {
    background-image: url("/image/about/card_service\ \(3\).png");
  }
  .about-item-five {
    background-image: url("/image/about/card_service\ \(4\).png");
  }
  .about-item-six {
    background-image: url("/image/about/card_service\ \(5\).png");
  }

  .about-item-title {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 64px 0 16px;
  }
  .about-item-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.gallery {
  margin: auto;
  padding: 30px 16px 60px;
  width: 375px;
}

.gallery__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 20px;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;

  width: 343px;
  height: 376px;
  padding: 54px 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/gallery/card_project.png");
  transition: padding 0.5s ease;
}
.gallery__item-two {
  background-image: url("/image/gallery/card_project\ \(1\).png");
}
.gallery__item:hover {
  padding-bottom: 74px;
}

.gallery-item-title {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-bottom: 8px;
}
.gallery-text {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding: 60px 108px 120px;
    margin: auto;
    width: 1440px;
  }
  .gallery__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 24px;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    width: 600px;
    height: 376px;
    padding: 54px 24px 54px 24px;
    background-image: url("/image/gallery/card_project.png");
  }
  .gallery__item-two {
    background-image: url("/image/gallery/card_project\ \(1\).png");
  }
}
.blog {
  margin: auto;
  padding: 30px 16px;
  width: 375px;
  height: 1720px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image//blog/Team\ Section\ \(1\).png");
}

.blog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.blog-item {
  width: 236px;
  height: 375px;
}
.blog-item-img {
  width: 236px;
  height: 299px;
}
.blog-item-title {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 24px 0 8px;
}
.blog-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #37c760;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .blog {
    margin: auto;
    padding: 30px 16px;
    width: 1440px;
    height: 643px;
    background-image: url("/image//blog/Team\ Section.png");
  }

  .blog__list {
    flex-direction: row;
  }

  .blog-item {
    width: 236px;
    height: 379px;
  }

  .blog-item-title {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .blog-text {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.reviews {
  width: 375px;
  padding: 60px 16px;
  margin: auto;
}

.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.reviews-item {
  width: 343px;
  height: 202px;
  padding: 24px;
  border-radius: 8px;
  background: linear-gradient(
    288.29deg,
    rgba(55, 199, 96, 0.25) -37.74%,
    rgba(30, 71, 49, 0.808) 40.02%,
    #161b21 100%
  );
  display: flex;
  justify-content: space-between;

  flex-direction: column;
}
.reviews-text-top {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-text-container {
  display: flex;
  justify-content: space-between;
}
.reviews-text-one {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 11px 0 4px;
}
.reviews-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-avatar {
  width: 72px;
  height: 72px;
}
.reviews-image {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    padding: 120px 108px;
  }
  .reviews-image {
    display: flex;
  }
  .reviews-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
  }
  .reviews__list {
    gap: 32px;
  }

  .reviews-item {
    width: 392px;
    height: 202px;
    padding: 24px;
    background: linear-gradient(
      288.29deg,
      rgba(55, 199, 96, 0.25) -37.74%,
      rgba(30, 71, 49, 0.808) 40.02%,
      #161b21 100%
    );
    display: flex;
  }
  .reviews-text-top {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .reviews-text-container {
    display: flex;
    justify-content: space-between;
  }
  .reviews-text-one {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 10px 0 4px;
  }
  .reviews-text {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .reviews-avatar {
    width: 72px;
    height: 72px;
  }
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 16px;
  margin: auto;
  width: 375px;
  min-height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/faq/FAQ\ Section.png");
}
.faq-container {
  width: 343px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
}

.faq-item {
  width: 342px;
}

.faq-question {
  display: flex;
  justify-content: space-between;

  padding-bottom: 24px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.toggle-button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;

  cursor: pointer;
}

.faq-answer {
  width: 243px;
  display: none;

  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #37c760;
}
@media screen and (min-width: 1200px) {
  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 110px;
    margin: auto;
    width: 1440px;
    min-height: 406px;

    background-image: url("/image/faq/FAQ\ Section\ \(1\).png");
  }
  .faq-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto;
  }

  .faq-item {
    width: 600px;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;

    padding-bottom: 24px;

    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .faq-answer {
    width: 600px;
    display: none;

    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #37c760;
  }
}
.testimonials {
  width: 375px;
  padding: 60px 16px;
  margin: auto;
}
.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}
.testimonials-item {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  height: 144px;
  border-radius: 8px;
  border: 1px solid #37c760;
}
.testimonials-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 58px;
  padding: 8px 16px 8px 16px;
  background: #37c760;

  border-radius: 8px 8px 0px 0px;
}
.testimonials-item-top-text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.testimonials-item-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 32px;
}
.testimonials-item-link {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .testimonials {
    width: 1440px;
    padding: 120px 108px;
    margin: auto;
  }
  .testimonials-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 76px;
    margin: auto;
  }
  .testimonials-item {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 288px;
    height: 144px;
    border-radius: 8px;
    border: 1px solid #37c760;
  }
  .testimonials-item-top {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 58px;
    padding: 8px 16px 8px 16px;
    background: #37c760;

    border-radius: 8px 8px 0px 0px;
  }
  .testimonials-item-top-text {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .testimonials-item-text {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 32px;
  }
}

.footer {
  background: #000000;
  border-top: 1px solid #ffffff99;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px 10px;
  gap: 28px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.footer-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;

  text-align: center;
}

.footer-copyright {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffffb2;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;

    gap: 70px;
    padding: 80px 108px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    text-align: end;
    gap: 32px;
  }
  .footer-text {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 100px 16px 60px;
  background: #161b21;
  color: #ffffff;
}
.policy-terms-title {
  font-family: Anybody;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 40px;
}
.padding-top {
  padding-top: 16px;
}
.policy-terms-texts {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.policy-terms-text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 24px;
}
.policy-terms-text-top {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 24px;
}
.policy-terms-text-one {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 16px;
}

.terms-list {
  list-style-type: disc;

  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 16px 0 0 25px;
}
.terms-lists {
  list-style-type: disc;

  padding-left: 20px;

  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #80e8ffcc;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 120px 216px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Anybody;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-bottom: 80px;
  }
  .padding-top {
    padding-top: 16px;
  }
  .policy-terms-texts {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text {
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 28px;
  }
  .policy-terms-text-top {
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 24px;
  }
  .policy-terms-text-one {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .terms-list {
    list-style-type: disc;

    font-family: DM Sans;

    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 28px 0 0 25px;
  }
  .terms-lists {
    list-style-type: disc;

    padding-left: 20px;

    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .email-link {
    color: inherit;
    text-decoration: none;
  }
}
.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  max-width: 1440px;
  padding: 40px 16px;
  background: #333333;
  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}
.cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.cookie-button {
  border: none;
  width: 343px;
  height: 60px;
  padding: 18px 36px 18px 36px;
  border-radius: 16px;
  background: #d74a4a;
  color: #ffffff;

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#accept-cookies {
  background: #37c760;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 800px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    max-width: 1440px;
    padding: 40px 108px;
  }
  .cookie-button {
    border: none;
    width: 184px;
    height: 60px;
  }
  .cookie-popup-container {
    display: flex;
  }
}
